
body 
{
  margin: 0px;
}

.footer 
{
  height: 175px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title 
{
  display: flex;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 15px;
}

.info 
{
  font-size: 12px;
}

.item 
{
  padding: 15px;
  width: 180px;
  font-family:Arial, Helvetica, sans-serif
}

#one > .title
{
  line-height: 150%;
  padding-right: 30px;
}

#three > .title
{
  padding-bottom: 60px;
}